name: Build PR
on:
  pull_request:
    branches:
      - main

jobs:
  helmfile-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Helmfile lint
        uses: github-actions/pipelines/.github/actions/helmfile-lint@{{WORKFLOW_VERSION}}
        with:
          environment: {{ENVIRONMENT_QA}}

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: {{TEST_COMMAND}}

  docker-build:
    needs: [helmfile-lint, unit-test]
    uses: github-actions/pipelines/.github/workflows/publish-docker-artifactory.yml@{{WORKFLOW_VERSION}}
    with:
      image-name: {{SERVICE_NAME}}
      image-tag: pr-${{ github.event.pull_request.number }}
      docker-repository: {{DOCKER_REPO_DEV}}
